<div class="container-fluid pb-3 pt-2" id="header">
    <div class="row pt-3">
        <div class="col-1">
            <img src="{{ asset('logocsv.png') }}" alt="logocsv">
        </div>
        <div class="col-10 col-md-11">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>CCSVA MONT-SOUS-VAUDREY FOOTBALL</h1>
                </div>
            </div>
            <div class="row mt-4" id="menu">
                <div class="col-12">
                    <ul class="nav nav-tabs nav-fill">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('home') }}">ACCUEIL<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('staff') }}">LES JOUEURS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">LES EQUIPES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CONVOCATIONS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">PHOTOS</a>
                        </li>
                        {% if app.user %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ADMINISTRATION</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('admin') }}">ADMINISTRATION</a>
                                    <a class="dropdown-item" href="{{ path('account_deconnection') }}">DECONNEXION</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('account_connection') }}">CONNEXION</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>