{% extends 'base.html.twig' %}

{% block title %}Ajout des joueurs et encadrants{% endblock %}

{% block body %}

    <div class="row justify-content-center mt-4">
        <h4>Ajout des joueurs et encadrants</h4>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-10 col-md-6 col-lg-4">
            {{ form_start(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.firstname) }}
            {{ form_row(form.email) }}
            {{ form_row(form.birthdate) }}
            {{ form_row(form.position) }}
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <button type="submit" class="btn btn-success">Créer la fiche du joueur ou encadrant</button>
    </div>
    {{ form_end(form) }}
    </div>

{% endblock %}